<form [formGroup]="logInForm" fxFill >
    <br>

    <div class="formTopSpacing" fxLayout="column" fxFill fxLayoutAlign="start center" >
            <mat-form-field appearance="legacy">
                <mat-label>Email</mat-label>
                <input color="primary" type="email" matInput formControlName="useremail">
            </mat-form-field>
        
        <br>
        
            <mat-form-field  appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput type="email" formControlName="password">
            </mat-form-field> 
            <div fxLayout="row">
                <button color="primary"  mat-button>login</button>

                <button color="primary"  mat-button>register</button>
            </div>
    </div>  
</form>
